<template>
    <admin-dashboard title="">
        <div class="card">
            <div class="card-body">
                <div class="border-bottom mb-4 pb-2">
                    <h4>Daily NGN/USD Rate Form</h4>
                </div>
                <div>
                    <form method="POST" @submit.prevent="postNewRate">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="buy_rate">Buy Rate (&#8358;)</label>
                                        <input class="form-control form-control-lg"
                                            type="number"
                                            id="buy_rate"
                                            min="1"
                                            v-model="form.buy_rate"
                                        />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="sell_rate">Sell Rate (&#8358;)</label>
                                        <input class="form-control form-control-lg"
                                            type="number"
                                            id="sell_rate"
                                            min="1"
                                            v-model="form.sell_rate"
                                        />
                                    </div>
                                    <div class="form-group col-12">
                                        <template v-if="volume && !volumeLoading">
                                            <label for="date">Date</label>
                                            <input  class="form-control form-control-lg bg-transparent" type="text"
                                                :value="volume.today"
                                                readonly
                                            />
                                        </template>
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="time_window">Time Window</label>
                                        <select id="time_window" 
                                            class="form-control form-control-lg"
                                            v-model="form.time_window"
                                        >
                                            <option value="1">Morning Rate</option>
                                            <option value="2">Evening Rate</option>
                                        </select>
                                        <small class="text-muted form-text">
                                            * Morning Rate [9am - 4pm]; Evening Rate [5pm - 8pm]
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="form-group mt-3 py-4 border-top">
                            <button class="btn btn-basic btn-lg px-4" type="submit" :disabled="!submittable || loading">
                                <template v-if="loading">Saving <span class="fas fa-spinner fa-spin pl-3"></span></template>
                                <template v-else>Save Rates</template>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </admin-dashboard>
</template>

<script>

import Swal from 'sweetalert2'
import {mapState, mapActions} from 'vuex'
import AdminDashboard from '../../components/dashboard/AdminDashboard.vue'
import { getApiUrl, handleValidationError } from '../../services/util'
import Http from '../../services/http'

export default {

    components: {
        AdminDashboard,
    }, 
    data() {
        return  {
            form: {
                buy_rate: 1,
                sell_rate: 1,
                time_window: 1,
            },
            loading: false,
        }
    },

    watch: {
        currentRate: function() {
            this.preLoadRates()
        },
    },

    computed: {
        ...mapState('Dashboard', [
            'currentRate',
        ]),

        ...mapState('Transaction', [
            'volume',
            'volumeLoading',
        ]),

        submittable() {
            if ((this.form.buy_rate && this.form.sell_rate)) {
                return true;
            }
            return false;
        }
    },

    methods: {
        ...mapActions('Dashboard', [
            'getCurrentRate',
        ]),

        ...mapActions('Transaction', [
            'getVolume',
        ]),

        preLoadRates() {
            if (this.currentRate) {
                this.form.sell_rate = this.currentRate.sell_rate;
                this.form.buy_rate = this.currentRate.buy_rate;
            }
        },

        postNewRate() {
            const endpoint = getApiUrl('/fx-rates/new-rate');

            this.loading = true;
            Http.post(endpoint, this.form)
                .then((response) => {
                    if (response.status == 422) {
                        handleValidationError(response)
                        return
                    }
                    
                    const {data} = response;

                    if (data.success && data.message) {
                        Swal.fire('Successful', data.message, 'success')
                        this.$router.push({name: 'fx.rates'})
                        return false;
                    } else if (!data.success && data.message) {
                        Swal.fire('Oops!', data.message, 'error');
                        return false;
                    } else {
                        Swal.fire('Oops', 'Seems something went wrong! Try again', 'error')
                    }

                })
                .catch((e) => {
                    Swal.fire('Oops', 'Seems something went wrong! Try again', 'error')
                })
                .finally(() => {
                    this.loading = false;
                });
        },
    },

    beforeMount() {
        this.getCurrentRate();
    },

    mounted() {
        this.getVolume();
    }
}
</script>

<style scoped>

</style>