<template>
    <admin-dashboard title="Fx Rate History" >
        <div class="mb-2 text-right">
            <router-link :to="{name:'create.fx.rate'}" class="btn btn-basic text-white">
                New Rate
            </router-link>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7 col-12">
                        <template v-if="!ratesLoading">
                            <!-- table -->
                            <table class="table table-borderless table-responsive-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Date</th>
                                        <th>Buy</th>
                                        <th>Sell</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="rate in extractRates" :key="rate.id"
                                        :class="renderRowStatusClass(rate)"
                                    >
                                        <td>{{ rate.date }}</td>
                                        <td>{{ rate.buy_rate }}</td>
                                        <td>{{ rate.sell_rate }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- meta area -->
                            <div class="row mt-5 meta-area">
                                <div class="col-md-6 text-left">
                                    Showing {{ getRatesMeta.from }} - {{ getRatesMeta.to }} of {{ getRatesMeta.last_page }}
                                </div>
                                <div class="col-md-6 text-right">
                                    <div class="btn-group btn-group-sm">
                                        <button class="btn btn-link"
                                            :disabled="!getRatesLinks.prev"
                                            @click.prevent="getRates(getRatesMeta.current_page - 1)"
                                        >
                                            <span class="fa fa-chevron-left mr-2"></span> Prev
                                        </button>
                                        
                                        <button class="btn btn-link"
                                            :disabled="!getRatesLinks.next"
                                            @click.prevent="getRates(getRatesMeta.current_page + 1)"
                                        >
                                            Next <span class="fa fa-chevron-right ml-2"></span>
                                        </button>                                        
                                    </div>
                                </div>
                            </div>

                        </template>
                        <template v-else>
                            <vcl-table :rows="10"></vcl-table>
                        </template>
                    </div>
                    <div class="col-md-5 col-12">
                            <div class="card outline">
                                <div class="card-body">
                                    <template v-if="statistics && !statisticsLoading">
                                        <rate-chart 
                                            :sell_rates="getStatisticsSellRates"
                                            :buy_rates="getStatisticsBuyRates"
                                            :labels="getStatisticsLabels"
                                        ></rate-chart>
                                    </template>
                                    <template v-else>
                                        <vue-content-loading :width="150" :height="200">
                                            <rect x="10" y="10" rx="4" ry="4" width="100%" height="120" />
                                        </vue-content-loading>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </admin-dashboard>
</template>

<script>

import {mapState, mapActions, mapGetters} from 'vuex';
import VueContentLoading, {VclTable} from 'vue-content-loading';
import AdminDashboard from '../../components/dashboard/AdminDashboard.vue';
import RateChart from '../../components/dashboard/RateChart';

export default {
    components: { 
      AdminDashboard,
      VclTable,
      RateChart,
      VueContentLoading,
    },

    computed: {
        ...mapState('Rate', [
            'rates',
            'ratesError',
            'ratesLoading',
            'statistics',
            'statisticsLoading',
        ]),

        ...mapGetters('Rate', [
            'extractRates',
            'getRatesMeta',
            'getRatesLinks',
            'getStatisticsLabels',
            'getStatisticsSellRates',
            'getStatisticsBuyRates',
        ]),
    },

    methods: {
        ...mapActions('Rate', [
            'getRates',
            'getStatistics',
        ]),

        renderRowStatusClass(rate) {
            if (rate.status == 'Active' && rate.approved) return 'text-success';
            else if (!rate.status && !rate.approved) return 'text-warning';
            else return 'text-muted';
        },

    },

    mounted() {
        this.getRates();
        this.getStatistics();
    },

    
}
</script>

<style scoped>

</style>