@font-face {
    font-family: "Facebook Reader Medium";
    src: url("../fonts/30500f2efc0aa445d8992b1b00917ccc.eot");
    src: url("../fonts/30500f2efc0aa445d8992b1b00917ccc.ttf");
    src: url("../fonts/30500f2efc0aa445d8992b1b00917ccc.woff");
    src: url("../fonts/30500f2efc0aa445d8992b1b00917ccc.woff2");
}

body {
    background: #fff;
    font-family: 'Facebook Reader Medium';
}

body{
    background: #fff;
}
.side-band {
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/group-460.svg');
    background-size: cover;
    background-position: 0 0;
}

.form-control {
    border: 0;
    outline: none;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #efefef;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #efefef;
}

.form-control::-webkit-input-placeholder,
.form-control::placeholder {
    color: #777;
}

.btn-basic {
    background:#54AB68;
    color: #fff;
    padding: 0.65rem;
    box-sizing: border-box;
}

.btn-basic:hover {
    background: #2cb190;
    color: #fff;
}
.btn-basic-outline {
    border: 0.8px solid #54AB68;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #54AB68 !important;
}

.btn-rounded {
    border-radius: 10px;
}

.btn-shadow {
    box-shadow: 0px 3px 10px 0 rgba(108, 108, 108, 0.24);
}

a[href] {
    color: #54AB68 !important;
}
a[href]:hover {
    text-decoration: none;
}

a.btn-basic {
    color: #fff !important;
}

.btn-auth {
    padding-top: 12px;
    padding-bottom: 12px;
    color:#fff;
    background-color: #8baaaa;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
    transition: all 0.3 ease-in;
    border: 0.25px solid #fff;
    font-weight: 500;
}
.btn-auth:disabled {
    cursor: not-allowed;
}

.btn-auth:hover {
    background-color: #92afaf;
    color: #fff !important;
}

.sidenav {
    position: fixed;
    width: 300px;
    background-color: #fff;
    left: 0;
    bottom: 0;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 32px;
    padding-top: 80px;
    z-index: 100;
    transition: all 0.15s ease-in;
}


.sidenav ul {
    padding: 0;
    margin: 0;
    width:78%;
    margin: 2px auto;
}

.sidenav ul li {
    list-style-image: url('../images/grey.svg');
}

.sidenav ul li a {
    font-size: 14px;
    line-height: 15.4px;
    color: #262626 !important;
}

.sidenav ul li.active {
    list-style-image: url('../images/colored.svg');
}

.sidenav ul li.active a {
    color: #222222 !important;
    font-weight: bold;
}

.sidenav ul:last-of-type li:last-of-type {
    list-style-image: url('../images/colored.svg');
}

.sidenav ul li a {
    display: block;
    padding: 20px;
}

.navbar-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000;
}

.sidenav .avatar-box {
    width: 80px;
    height: 80px;
    background: #C4C4C4;
    border-radius: 50%;
}

.main-content {
    padding-top: 100px;
    margin-left: 300px;
}

.card .text-muted {
    color: #888888;
}

.card .text-dark {
    color: #222222;
}

.card hr {
    background: #efefef;
}

.card {
    border: none;
    border-radius: 10px;
}

.card.outline {
    border: 1px solid #EFEFEF;
    border-radius: 5px;
}

.card .meta-area .btn-link {
    color: #293737;
    font-weight: bold;
}

.swal2-styled.swal2-confirm {
    background-color: #339d70 !important;
}

.custom-radio .custom-control-input:checked~.custom-control-label,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label {
    color: #54AB68;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #54AB68;
}

.btn-upload {
    background-color: #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    position: relative;
}

.btn-upload.active {
    background: #54ab68;
    color: #fff;
}

.btn-upload > input[type=file] {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
} 

.border-mute {
    border-color: #efefef !important;
}

.progressbar {
    display: flex;
    justify-content: center;
    counter-reset: reset;
    margin: 0 auto;
    padding: 0;
}

.progressbar-card {
    z-index: 1;
}

.progressbar li {
    list-style: none;
    width: 33.33%;
    position: relative;
    text-align: center;
    font-size: 14px;
}

.progressbar li a {
    color: #262626;
    display: inline-block;
    position: static;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
}

.progressbar li::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid #E5E5E5;
    display: block;
    border-radius: 50%;
    text-align: center;
    margin: 10px auto 0 auto;
    background-color: #e5e5e5;
    z-index: 1;
}

.progressbar li.active::before {
    background-color: #54AB68;
    border-color: #54AB68;
}

.progressbar li.active a {
    color: #262626;
    font-weight: bold;
    transform: all 0.15s ease-in-out;
}

.progressbar li a:hover {
    color: #888888;
}

.progressbar li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
    top: 18px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.external-row {
    background-image: url('../images/web.svg');
    background-size: cover;
    background-position: 0 0;
    width: 100%;
    min-height: 100vh;
    padding:0;
    margin: 0;
}

.font-9 {
    font-size: 9px !important;
}

@media only screen and (max-width: 768px) {
    .sidenav {
        margin-left: -300px;
    }

    .sidenav.mobile-active {
        margin-left: 0;
    }

    .main-content {
        margin-left: 0;
    }
}