<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <meta name="title" content="The Smarter Way to Get Your Money Working - Crowdyvest">
    <meta name="description"
    content="Crowdyvest connects you to impact-driven opportunities with good returns. Increase your finances by exploring our sponsorship options across different sectors.">
    <meta name="keywords"
    content="Investing Money in Nigeria, Sponsorship, Investments, Pooled Investments, Fixed savings, Onetime savings,  Farmcrowdy, Digital savings, Plentywaka, Investing in Agriculture, Agriculture Investments in Nigeria, Savings Automation, High interest rate, Save Money, FinTech, Online Investment platform, Digital savings in Nigeria, Personal Finance, Investments, Assets Management, Wealth Management, investment promotions, monthly investments account, payday investor, payday automated savings, High yield investments, petty save account, digital piggy bank, payday online investment, fixed savings rate, fixed savings high interest, fixed deposit, fixed deposit account, money market, bonds, treasury bills">

    <link rel="icon" href="<%= BASE_URL %>cv-icon.svg">
     <!-- <link href="https://db.onlinewebfonts.com/c/0397cc77e93225d90ee8e784f5390dfa?family=Facebook+Reader+Medium" rel="stylesheet" type="text/css"/> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/custom.css">

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
