<template>
    <admin-dashboard>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">

                        <template v-if="currentRate && !currentRateLoading">
                            <div class="card outline mb-3">
                                <div class="card-body">
                                    <div class="text-center py-1">
                                        <h6 class="text-muted mb-3">Active Rates</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-center">
                                            <h4 class="text-dark">{{ currentRate.buy_rate }}</h4>
                                            <h6 class="text-success">Buy</h6>
                                        </div>
                                        <div class="col-6 text-center border-left">
                                            <h4 class="text-dark">{{ currentRate.sell_rate }}</h4>
                                            <h6 class="text-danger">Sell</h6>
                                        </div>
                                    </div>
                                </div>
                                <hr class="m-0 p-0">
                                <div class="card-body text-center">
                                    <router-link :to="{name: 'create.fx.rate'}">
                                        <span class="fa fa-plus mr-2"></span> Add New Rates
                                    </router-link>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            <vue-content-loading :width="150" :height="200">
                                <rect x="10" y="10" rx="4" ry="4" width="100%" height="120" />
                            </vue-content-loading>
                        </template>

                    </div>
                    <div class="col-md-3">
                        <template v-if="volume && !volumeLoading">
                            <div class="card outline mb-3">
                                <div class="card-body">
                                    <div class="text-center py-1">
                                        <h6 class="text-muted mb-3">Today's volume</h6>
                                    </div>
                                    <div class="text-center">
                                        <h4 class="text-dark">${{ volume.total_volume }}</h4>
                                        <h6 class="mb-2 text-muted"><small>{{ volume.today }}</small></h6>
                                    </div>
                                </div>
                                <hr class="p-0 m-0">
                                <div class="card-body text-center">
                                    <router-link :to="{name: 'transactions'}">
                                        View Transactions
                                    </router-link>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            <vue-content-loading :width="150" :height="200">
                                <rect x="10" y="10" rx="4" ry="4" width="100%" height="120" />
                            </vue-content-loading>
                        </template>
                    </div>

                    <div class="col-md-6">
                        <div class="card outline">
                            <div class="card-body">
                                <template v-if="statistics && !statisticsLoading">
                                    <rate-chart 
                                        :sell_rates="getStatisticsSellRates"
                                        :buy_rates="getStatisticsBuyRates"
                                        :labels="getStatisticsLabels"
                                    ></rate-chart>
                                </template>
                                <template v-else>
                                    <vue-content-loading :width="150" :height="200">
                                        <rect x="10" y="10" rx="4" ry="4" width="100%" height="120" />
                                    </vue-content-loading>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </admin-dashboard>
</template>

<script>

import {mapState, mapActions, mapGetters} from 'vuex'
import AdminDashboard from '../../components/dashboard/AdminDashboard'
import VueContentLoading from 'vue-content-loading'
import RateChart from '../../components/dashboard/RateChart'

export default {
    components: {
        AdminDashboard,
        VueContentLoading,
        RateChart,
    },

    computed: {
        ...mapState('Dashboard', [
            'currentRate',
            'currentRateLoading',
        ]),

        ...mapState('Rate', [
            'statistics',
            'statisticsLoading',
        ]),

        ...mapGetters('Rate', [
            'getStatisticsLabels',
            'getStatisticsSellRates',
            'getStatisticsBuyRates',
        ]),

        ...mapState('Transaction', [
            'volume',
            'volumeLoading',
        ]),
    },

    methods: {
        ...mapActions('Dashboard', [
            'getCurrentRate',
        ]),

        ...mapActions('Rate', [
            'getStatistics',
        ]),

        ...mapActions('Transaction', [
            'getVolume',
        ]),
    },

    mounted() {
        this.getCurrentRate()
        this.getVolume()
        this.getStatistics()
    }


}
</script>

<style scoped>

</style>