<template>
    <admin-dashboard title="Transactions">
        <div class="card">
            <div class="card-body table-responsive-sm">
                <template v-if="transactions && !transactionsLoading">
                    <!-- filter -->
                    <div class="mb-4 filter-section">
                        <div class="btn-group">
                            <button class="btn btn-light bg-white">
                                <span class="fas fa-filter"></span>
                            </button>
                            <button class="btn btn-light bg-white">
                                Filter By
                            </button>
                            <button class="btn btn-light bg-white">
                                <select v-model="filter">
                                    <option value="date">Date</option>
                                    <option value="id">ID</option>
                                    <option value="title">Title</option>
                                    <option value="reference">Ref ID</option>
                                    <option value="user">User</option>
                                </select>
                            </button>
                            <button class="btn btn-light bg-white text-danger" @click="resetFilter()">
                                <span class="fa fa-redo mr-1"></span>
                                Reset filter
                            </button>
                        </div>
                    </div>
                    <!-- table -->
                    <table class="table table-borderless w-100">
                        <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>User</th>
                                <th>Title</th>
                                <th>Ref ID</th>
                                <th>Rate (&#8358;)</th>
                                <th>Amount ($)</th>
                                <th>Balance ($)</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="transaction in extractTransactions" :key="transaction.id">
                                <td>{{ transaction.id }}</td>
                                <td>{{ transaction.user }}</td>
                                <td>{{ transaction.title }}</td>
                                <td>{{ transaction.reference }}</td>
                                <td>{{ transaction.rate }}</td>
                                <td>{{ transaction.amount }}</td>
                                <td>{{ transaction.balance }}</td>
                                <td>{{ transaction.created_at }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- meta area -->
                    <div class="mt-5 row meta-area">
                        <div class="col-md-6 text-text">
                            Showing {{ getTransactionsMeta.from }} - {{ getTransactionsMeta.to }} of {{ getTransactionsMeta.last_page }}
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-link" 
                                    :disabled="!getTransactionsLinks.prev"
                                    @click.prevent="getTransactions({'page':getTransactionsMeta.current_page - 1, filter})"
                                >
                                    <span class="fa fa-chevron-left mr-2"></span> Prev
                                </button>
                                <button  class="btn btn-link" 
                                    :disabled="!getTransactionsLinks.next"
                                    @click.prevent="getTransactions({'page':getTransactionsMeta.current_page + 1, filter})"
                                >
                                    Next <span class="fa fa-chevron-right ml-2"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                </template>
                <template v-else>
                    <vcl-table :rows="10"></vcl-table>
                </template>
            </div>
        </div>
    </admin-dashboard>
</template>

<script>

import {mapActions, mapGetters, mapState} from 'vuex';
import {VclTable} from 'vue-content-loading';
import AdminDashboard from "../../components/dashboard/AdminDashboard.vue";

export default {
    data() {
        return {
            filter: 'date',
            page: 1,
        }
    },

    components: { 
        AdminDashboard,
        VclTable,
    },

    watch: {
        filter: function(newVal, oldVal) {
            this.getTransactions({'page':this.page, 'filter': newVal});
        },

    },
    
    computed: {
        ...mapState('Transaction', [
            'transactions',
            'transactionsLoading',
        ]),

        ...mapGetters('Transaction', [
            'extractTransactions',
            'getTransactionsLinks',
            'getTransactionsMeta',
        ]),
    },

    methods: {
        ...mapActions('Transaction', [
            'getTransactions',
        ]),

        resetFilter() {
            this.filter = 'date',
            this.page = 1
        },
    },

    mounted() {
        this.getTransactions({page: this.page, filter: this.filter});
    },
}
</script>


<style scoped>
    .filter-section select {
        border: none;
    }
</style>