<template>
    <div class="container-fluid">
        <div class="navbar navbar-expand-lg navbar-light navbar-top">
            <a class="navbar-brand pl-3">
                <img :src="logo" />
            </a>
            <button class="navbar-toggler" @click="toggleMobileMenu" type="button" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div :class="{'sidenav':true, 'mobile-active':mobileActive}">
            <template v-if="user">
                <div class="mb-2">
                    <div class="avatar-box my-2" :style="{background:`url(${userAvatar})`, backgroundRepeat: 'no-repeat', backgroundSize: 'cover', backgroundPosition: 'center'}"></div>
                    <h5>Hello {{ user.first_name }}</h5>
                    <h6>{{ user.email }}</h6>
                </div>
                <hr>
                <ul ref="linkGroup">
                    <li ref="dashboardLink">
                        <router-link :to="{name:'dashboard'}" >
                            Dashboard
                        </router-link>
                    </li>
                    <li ref="rateLink">
                        <router-link :to="{name: 'fx.rates'}">
                            FX Rates
                        </router-link>
                    </li>
                    <li ref="transactionsLink">
                        <router-link :to="{name: 'transactions'}">
                            Transactions
                        </router-link>
                    </li>
                    <!-- <li href="updatesLink">
                        <a>Updates</a>
                    </li> -->
                </ul>
                <ul class="mt-5">
                    <li>
                        <a href="javascript:;" @click.prevent="logout">Logout</a>
                    </li>
                </ul>
            </template>
            <template v-else>
                <div class="mt-5">
                    <vue-content-loading :width="300" :height="500">
                        <circle cx="40" cy="40" r="40" />
                        <rect x="0" y="93" rx="4" ry="4" width="100" height="20" />
                        <rect x="0" y="122" rx="4" ry="4" width="150" height="20" />

                        <rect x="0" y="185" rx="4" ry="4" width="60" height="20" />
                        <rect x="80" y="185" rx="4" ry="4" width="200" height="20" />

                        <rect x="0" y="245" rx="4" ry="4" width="60" height="20" />
                        <rect x="80" y="245" rx="4" ry="4" width="200" height="20" />

                        <rect x="0" y="305" rx="4" ry="4" width="60" height="20" />
                        <rect x="80" y="305" rx="4" ry="4" width="200" height="20" />

                        <rect x="0" y="365" rx="4" ry="4" width="60" height="20" />
                        <rect x="80" y="365" rx="4" ry="4" width="200" height="20" />
                        
                    </vue-content-loading>
                </div>
            </template>
        </div>

        <div class="main-content">
            <div class="container-fluid">
                <h4 class="text-dark font-weight-bold">{{ title }}</h4>
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>

import {mapState, mapActions} from 'vuex'
import {getUrlSegment} from '../../services/util'
import VueContentLoading from 'vue-content-loading'
import cvLogo from '../../assets/images/cv_logo.svg'
import defaultAvatar from '../../assets/images/user.svg'
import {logUserOut, discardLoggedUserToken} from '../../services/auth'

export default {
    data () {
        return {
            logo: cvLogo,
            defaultAvatar,
            mobileActive: false,
        }
    },

    components: {
        VueContentLoading,
    },

    props: {
        title: {
            type: String,
            required: false,
            default: '',
        },
    },

    computed: {
        ...mapState('Dashboard', [
            'user',
        ]),

        userAvatar() {
            if (this.user && this.user.profileImgUrl) {
                return this.user.profileImgUrl;
            }
            return defaultAvatar;
        },
    },

    methods: {
        ...mapActions('Dashboard', [
            'getUser',
        ]),

        logout() {
            logUserOut();
            discardLoggedUserToken();
            this.$router.push({name: 'login'});
        },

        resetActiveMenus() {
            const linkGroup = this.$refs.linkGroup;
            const activeLink = linkGroup.querySelector('li.active');
            activeLink.classList.remove('active');
        },

        switchActiveMenu() {
            const dashboardLink = this.$refs.dashboardLink
            const transactionsLink = this.$refs.transactionsLink
            const updatesLink = this.$refs.updatesLink
            const fxRateLink = this.$refs.rateLink

            const secondSegment = getUrlSegment(3);

            switch (secondSegment) {
                case 'fx-rates':
                    fxRateLink.classList.add('active');
                    break;

                case 'transactions':
                    transactionsLink.classList.add('active');
                    break;

                case 'updates':
                    updatesLink.classList.add('active');
                    break;

                default:
                    dashboardLink.classList.add('active')
                    break;
            }
        },

        toggleMobileMenu() {
            this.mobileActive = !this.mobileActive
        },
    },    

    beforeMount() {
        document.body.style.background = '#fafafa'
        this.getUser();
    },

    mounted() {

    },

    beforeUpdate() {
    },

    updated() {
        this.switchActiveMenu()
    }

}
</script>

<style scoped>
</style>