<template>
    <div v-if="labels">
        <line-chart :chart-data="dataCollection" :options="options"></line-chart>
    </div>
</template>

<script>

import LineChart from '../../services/lineChart';

export default {
    data() {
        return {
            dataCollection: null,
            options: null
        }
    },

    props: {
        sell_rates: {
            type: Array,
            required: true,
        },
        buy_rates: {
            type: Array,
            required: true,
        },
        labels: {
            type: Array,
            required: true,
        }
    },

    components: {
        LineChart,
    },

    methods: {

        fillData () {
            this.dataCollection = {
                labels: [...this.labels],
                datasets: [
                    {
                        label: 'Buy Rates',
                        backgroundColor: '#ff6a6a',
                        data: [...this.buy_rates],
                        fill: false,
                        borderColor: '#ff6a6a',
                    }, 
                    {
                        label: 'Sell Rates',
                        backgroundColor: '#55bd88',
                        data: [...this.sell_rates],
                        fill: false,
                        borderColor: '#55bd88',
                    }
                ]
            }
        },
        
        fillOptions() {
            this.options = {
                responsive: true,
                scales: {
                    yAxes: [{
                        // scaleLabel: {
                        //     display: true,
                        //     labelString: 'NGN'
                        // },
                        // ticks: {
                        //     beginAtZero: true
                        // }
                    }]
                },
            }
        },
    },

    mounted() {
        this.fillData();
        this.fillOptions();
    },
}
</script>

<style scoped>

</style>