<template>
     <div class="row">
        <div class="col-md-6 side-band d-none d-md-inline-block"></div>
        <div class="col-md-6">
            <div class="row" style="margin-top:110px">
                <div class="text-center mt-3 mb-4 col-12">
                    <img :src="cvLogo" />
                </div>
                <div class="text-center my-3 col-12">
                    <h2>Password Reset.</h2>
                </div>
                <div class="offset-md-2 col-md-8">
                    <form method="POST" @submit.prevent="sendResetLink">
                        <div class="form-group">
                            <input type="email" 
                                class="form-control form-control-lg" 
                                placeholder="Email Address"
                                v-model="form.email"
                            />
                        </div>
                        <div class="form-group mt-2 text-center">
                            <button class="btn  btn-lg px-5 btn-basic" type="submit"
                                :disabled="!canSendResetLink"
                            >
                                <template v-if="loading">
                                    <span class="fa fa-spinner fa-spin"></span>
                                </template>
                                <template v-else>
                                    Send Reset Link
                                </template>
                            </button>
                        </div>
                        <p class="font-32 mt-2 text-right">
                            <router-link :to="{name:'login'}">Login in here</router-link>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Axios from 'axios';
import CvLogo  from '../../assets/images/cv_logo.svg'
import { handleValidationError } from '../../services/util'
import Swal from 'sweetalert2'

export default {
    data() {
        return {
            cvLogo: CvLogo,
            form: {
                email: ''
            },
            loading: false,
        }
    },

    computed: {
        canSendResetLink () {
            if (this.form.email || this.loading) return true;
            return false;
        },
    },

    methods: {
        sendResetLink() {
            const endpoint = '/api/password/email';
            this.loading = true;

            Axios.post(endpoint, this.form)
                .then(({data}) => {
                    if (data.success) {
                        this.form.email = '';
                        Swal.fire('Successful!', data.message, 'success');
                    }
                })
                .catch((e) => {
                    const {response} = e;
                    if (response.status == 422) {
                        handleValidationError(e.response);
                    } else {
                        Swal.fire('Oops!', 'Something went wrong! Try again', 'error');
                    }
                })
                .finally(() => {
                    this.loading = false;
                });
        },
    },
}
</script>

<style scoped>

</style>