<template>
    <div class="external-row">
        <div class="row auth-row">
            <div class="col-md-7 col-12 d-none d-md-inline-block">
                <div class="row">
                    <div class="offset-md-2 col-md-8 left-content">
                        <img :src="cvWhiteIcon" height="85" width="85" />
                        <p class="my-4 slogan">A Smarter Way to Get your Money Working</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12">
                <div class="card mt-5 mr-md-5 auth-card">
                    <form method="POST"  @submit.prevent="login">
                        <div class="card-body pt-5 p-5">
                            <h3 class="text-white">Welcome back,</h3>
                            <h5 class="text-white">Log in to your account</h5>
                            <div class="my-5">
                                <div class="form-group">
                                    <div class="form-control-group">
                                        <span class="icon">
                                            <span class="fa fa-envelope"></span>
                                        </span>
                                        <input type="text" 
                                            class="input" 
                                            placeholder="Email"
                                            autocomplete="off"
                                            required
                                            v-model="form.email"
                                        >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-control-group">
                                        <span class="icon">
                                            <span class="fas fa-lock"></span>
                                        </span>
                                        <input type="password" 
                                            class="input" 
                                            placeholder="Password"
                                            required
                                            v-model="form.password"
                                            ref="passwordField"
                                        >
                                        <span class="icon right" @click="toggleEyeIcon">
                                            <template v-if="showPassword">
                                                 <span class="fas fa-eye"></span>
                                            </template>
                                            <template v-else>
                                                 <span class="fas fa-eye-slash"></span>
                                            </template>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group mt-4">
                                    <button class="btn btn-block btn-auth py-2" 
                                        type="submit"
                                        :disabled="!form.email || !form.password || loading"
                                    >
                                        <template v-if="loading">
                                            <span class="fas fa-spinner fa-spin"></span>
                                        </template>
                                        <template v-else>Sign In</template>
                                    </button>
                                </div>
                                <p class="mt-5 d-block text-center">
                                    <small class="text-white text-center">
                                        Don't have a crowdyvest account? 
                                        <a href="https://dashboard.crowdyvest.com/register" class="anchor-link">Create One</a>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Swal from 'sweetalert2'
import Http from '../../services/http'
import cvWhiteIcon from '../../assets/images/cv-icon-white.svg'
import { getApiUrl, handleValidationError } from '../../services/util'
import { getUserDetails, saveLoggedInUser } from '../../services/auth'

export default {
    data() {
        return {
            cvWhiteIcon,
            form: {
                email: '',
                password: '',
            },
            loading: false,
            showPassword: false,
        }
    },

    methods: {
        async login() {
            const endpoint = getApiUrl('/fx-rates/login');
            
            this.loading = true;
            try {
                const  tokenResponse =  await Http.post(endpoint, this.form)
                const  tokenResponseData = tokenResponse.data
                
                // handle validation error if any
                if (tokenResponse.status == 422) {
                    handleValidationError(tokenResponse);
                    return
                }

                if (!tokenResponseData.success && tokenResponseData.message) {
                    Swal.fire('Oops!', tokenResponseData.message, 'error');
                    return 
                }

                // trap token data
                const tokenData = tokenResponseData.data;
                // make call for profile details
                const profileEndpoint = getApiUrl('/profile');

                const profileResponse =  await fetch(profileEndpoint, {
                    headers: {'Authorization': 'Bearer '+tokenData, 'Content-Type': 'application/json'},
                    method: 'get',
                });
                
                const profileResponseJson = await profileResponse.json();
                const userProfileData = profileResponseJson.data.user;

                if (userProfileData) {
                    // save user token
                    if (tokenResponseData.success && tokenResponseData.message) {

                        saveLoggedInUser(tokenData);

                        Swal.fire('Successful', tokenResponseData.message, 'success');

                        this.$router.push({name: 'dashboard'});
                        return
                    }
                }

            } catch (error) {
                console.log(error)
                Swal.fire('Oops!', 'Something went wrong! Try again', 'error');
            } finally {
                this.loading = false;
            }
        },

        async handleSuccessResponse(data) {
            if (data.success) {
                // saveLoggedInUser(data.data)
                // trap token
                const userToken = data.data;

                // get user profile
                const user = await getUserDetails();
                console.log(user);
                // try {

                // } catch (error) {
                // }

                // Swal.fire('Successful', data.message, 'success')
                // this.$router.push({name: 'dashboard'})
                // return 
            }

            if (data.message && !data.success) {
                Swal.fire('Oops!', data.message, 'error');
                return 
            }

            Swal.fire('Oops!', 'Seems something went wrong! Try again', 'error');
        },

        toggleEyeIcon() {
            const passwordField = this.$refs.passwordField;

            if (this.showPassword) {
                this.showPassword = false;
                passwordField.type = 'password';
            } else {
                this.showPassword = true;
                passwordField.type = 'text';
            }
        },
    },

    mounted() {
        document.body.style.backgroundColor = '#fff';
    },
}
</script>


<style scoped>
body {
    padding: 0;
    margin: 0;
}
main {
    padding: 0;
    margin: 0;
}
.external-row {
    overflow-x: hidden;
}
.auth-row {
    margin-top: 5%;
    padding-bottom: 20px;
}
.auth-card {
    opacity: 0.45;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 12px;
    opacity: 0.96;
}
.form-control-group {
    background: rgba(255, 255, 255, 0.32);
    width: 100%;
    display: flex;
    border-radius: 6px;
    backdrop-filter: blur(24px);
    padding:12px 10px;
}
.form-control-group .icon {
    color: #fff;
    padding-left: 8px;
    padding-right: 13px;
}
.form-control-group .icon.right {
    align-items: flex-end;
    cursor: pointer;
}
.form-control-group .input {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: #fff;
    width:90%;
}
.form-control-group .input:focus {
    border: 0;
    box-shadow: none;
    outline: none;
}
.form-control-group .input::placeholder,
.form-control-group .input::-webkit-input-placeholder {
    color: #fff;
}
.auth-card .anchor-link {
    color: #9c9;
    font-weight: 500;
}
.external-row .left-content {
    margin-top: 160px;
}
.left-content .slogan {
    font-size: 50px;
    max-width: 400px;
    font-weight: bold;
    color: #fff;
    line-height: 112.6%;
    font-style: normal;
}


@media only screen and (max-width: 768px) {
    .auth-card {
        border: 0;
        background: transparent;
    }
    .auth-card .card-body {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .auth-row {
        margin-top: 3%;
    }
}
</style>