<template>
    <div class="row">
        <div class="col-md-6 side-band d-none d-md-inline-block"></div>
        <div class="col-md-6">
            <div class="row" style="margin-top:110px">
                <div class="text-center mt-3 mb-4 col-12">
                    <img :src="cvLogo" />
                </div>
                <div class="text-center my-3 col-12">
                    <h3>Sign Into Your Account</h3>
                </div>
                <div class="offset-md-2 col-md-8">
                    <form method="POST" @submit.prevent="login">
                        <div class="form-group">
                            <input type="email" 
                                class="form-control form-control-lg" 
                                placeholder="Email Address"
                                autocomplete="off"
                                v-model="form.email"
                            />
                        </div>
                        <div class="form-group">
                            <input type="password" 
                                class="form-control form-control-lg" 
                                placeholder="Password"
                                v-model="form.password"
                            />
                        </div>
                        <div class="form-group text-right">
                            <router-link :to="{name :'forgot.password'}" class="font-30 text-success">Forgot Password</router-link>
                        </div>
                        <div class="form-group mt-2 text-center">
                            <button class="btn  btn-lg px-5 btn-basic" :disabled="!activeSignIn" type="submit">
                                <template v-if="loading">
                                    <span class="fas fa-spinner fa-spin"></span>
                                </template>
                                <template v-else>Sign In</template>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import Axios from 'axios'
import Swal from 'sweetalert2'
import {saveLoggedInUser} from '../../services/auth'
import CvLogo  from '../../assets/images/cv_logo.svg'
import { getApiUrl } from '../../services/util'
import Http from '../../services/http'

export default {
    data() {
        return {
            cvLogo: CvLogo,
            form: {
                email: '',
                password: '',
            },
            loading: false,
        }
    },
    computed: {
        activeSignIn() {
            if ((this.form.email.length && this.form.password.length) || this.loading) {
                return true
            }
            return false
        }
    },
    methods: {
        login() {
            const endpoint = getApiUrl('/login')

            this.loading = true

            Http.post(endpoint, this.form)
                .then( data => {
                    this.handleSuccessResponse(data)
                })
                .catch( (e) => {
                    Swal.fire('Oops!', 'something went wrong! Try again', 'error');
                    console.log(e)
                })
                .finally( () => {
                    this.loading = false
                })
        },

        handleSuccessResponse({data}) {
            if (data.success) {
                saveLoggedInUser(data.data)
                Swal.fire('Successful', data.message, 'success')
                this.$router.push({name: 'dashboard'})
            } else {
                if (data.message) {
                    Swal.fire('Oops!', data.message, 'error')
                } else {
                    Swal.fire('Oops!', 'something went wrong! Try again', 'error')
                }
            }

        },

        handleErrorResponse(error) {
            const data = error.data;
            if (!data.success && data.message) {
                Swal.fire('Oops', data.message, 'error')
                return 
            }
            Swal.fire('Oops!', 'Something went wrong! Try again', 'error')

        },
    },

    mounted() {
        document.body.style.background = '#fff'
    }
}
</script>

<style scoped>

</style>