<template>
    <div class="row">
        <div class="col-md-6 side-band d-none d-md-inline-block"></div>
        <div class="col-md-6">
            <div class="row" style="margin-top:110px">
                <div class="text-center mt-3 mb-4 col-12">
                    <img :src="cvLogo" />
                </div>
                <div class="text-center my-3 col-12">
                    <h2>Reset Your Password</h2>
                </div>
                <div class="offset-md-2 col-md-8">
                    <form action="" method="POST">
                        <div class="form-group">
                            <input type="password" 
                                class="form-control form-control-lg" 
                                placeholder="New Password"
                            />
                        </div>
                        <div class="form-group">
                            <input type="password" 
                                class="form-control form-control-lg" 
                                placeholder="Confirm New Password"
                            />
                        </div>
                        
                        <div class="form-group mt-2 text-center">
                            <button class="btn  btn-lg px-5 btn-basic" type="submit">Reset My Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CvLogo  from '../../assets/images/cv_logo.svg'

export default {
    data() {
        return {
            cvLogo: CvLogo,
        }
    }
}
</script>


<style>

</style>